$bl: black;
$wh: rgba(199, 210, 255, 0.918);
$grad: rgba(23, 99, 150, 0.63);
$reg: rgba(47, 48, 79, 0.918);
$imp: rgb(174, 230, 230);

/*********************************/
body {
  background-color: $reg;
  height: 100vh;
  margin: 0;

  a {
    color: $bl;
    font-weight: bold;
    font-size: 1rem;
  }
  /*************** A CONTINUACIÓN USO MIXIN *************/
  @mixin footer {
    background-color: $grad/4; /*OPERACIONES UTILIZADAS PARA CAMBIAR ALGUNOS COLORES COMO EJEMPLO*/
    color: $bl;
    padding: 10px;
    grid-area: foot;
    a {
      color: $wh;
      font-weight: bold;
      font-size: 2rem;
    }
    &:hover {
      background-color: $bl;
    }
  }
  footer {
    @include footer;
  }
  /**********************MIXIN FINAL*************/
  aside,
  main {
    padding: 10px;
  }
  header {
    grid-area: head;
  }

  main {
    grid-area: main;
  }
  section {
    grid-area: sect;
    color: $wh;
  }
}
.card {
  padding: 0 5em;

  &__img {
    display: block;
    height: 100px;
    width: 100%;
    background-color: $grad;
  }

  &__content {
    padding: 1.5em;
    background-color: $wh;
    margin: 0;
    height: auto;
    border-radius: 0;
    &:hover {
      background-color: $wh;
    }
  }

  &__list {
    list-style-type: none;
    display: block;
    margin: 0;
    padding: 0;
    width: 7em;
  }

  &__item {
    padding: 0.3em 0.5em;
    margin: 0.5em;
    background-color: $wh;
    border-radius: 0.3em;
    font-size: 0.85em;

    &--active {
      background-color: $imp;
      font-weight: bold;
    }

    &--deactive {
      background-color: #d4d4d4be;
      font-weight: bold;
    }
  }

  &__link {
    background-color: $reg;
    color: #000;
    text-decoration: none;
    padding: 0.5em;
    border-radius: 0.5em;
    display: inline-block;
    margin-top: 0.5em;

    &:hover {
      background-color: $imp;
    }
  }
}

.car {
  padding: 0.5em;
  border-radius: 0.5em;

  &__img {
    display: block;
    height: 100px;
    width: 100%;
    background-color: $grad;
  }

  &__content {
    height: auto;
    background-color: $wh;
    border: 0%;
    border-radius: 0em;
    margin: 0%;
    &:hover {
      background-color: $imp;
    }
  }

  &__list {
    list-style-type: none;
    display: block;
    margin: 0;
    padding: 0;
    width: 14em;
  }

  &__item {
    padding: 0.25em 0.5em 1em;
    margin: 0.5em;
    border-radius: 0.3em;
    font-size: 1rem;

    &--active {
      background-color: $reg;
      font-weight: bold;
    }

    &--deactive {
      background-color: #d4d4d4be;
      font-weight: bold;
    }
  }

  &__link {
    background-color: $imp;
    color: #000;
    text-decoration: none;
    padding: 0.5em;
    border-radius: 0.5em;
    display: inline-block;
    margin: 0.5em;

    &:hover {
      background-color: $grad;
    }
  }
}

.enca {
  background-color: $reg/2;
  &--center {
    text-align: center;
    font-weight: bold;
    font-size: 90px;
    color: $wh;
    &:hover {
      background-color: $bl;
    }
  }
}

.mai {
  background-color: $wh;
  color: black;
  &--two {
    font-weight: bold;
    font-size: 35px;
    color: $bl;
    &:hover {
      background-color: $reg;
    }
  }
}

.btn {
  border: 0;
  height: 40px;
  width: 150px;
  border-radius: 4px;
  margin: 50px;

  &--dos {
    background-color: $reg;
    color: black;
    &:hover {
      background-color: $grad;
    }
  }

  &__cuatro {
    border: 0;
    height: 80px;
    width: 150px;
    border-radius: 4px;
    margin: 10px;
    background-color: $grad;
    color: #000;
    font-weight: bold;
  }
}

@media only screen and (min-width: 720px) and (max-width: 1600px) {
  div {
    background-color: $reg;
    margin: 0% 10%;
    padding: 1% 1% 3% 1%;
    border-radius: 10rem;
    height: 10px;
    &:hover {
      background-color: $bl;
    }
    a {
      color: $wh;
      font-weight: bold;
      font-size: 1.5rem;
    }
  }

  aside {
    grid-area: asid;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: $wh/2;
  }

  .indexgr {
    display: grid;
    grid-template-columns: 20% 40% 40%;
    grid-template-rows: 20% 15% 55% 10%;
    grid-template-areas:
      "head head head"
      "asid asid asid"
      "main main sect"
      "foot foot foot";
    /***************************************/
    .gr2 {
      background-color: $wh;
      display: grid;
      &--2 {
        grid-template-columns: 1fr 1fr 1fr;
        padding: 1px;
        color: $imp;
        margin: 0.5px;
      }
      &:hover {
        background-color: $reg;
      }
    }
  }
  /*******************************************/
  .prodgr {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 1fr 100fr 1fr;
    grid-template-areas:
      "head"
      "sect"
      "foot";
    .gr2 {
      background-color: $wh;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
      padding: 1px;
      color: $bl;
    }
  }
}
/********************PANTALLAS PEQUENIAS*********************/
@media only screen and (min-width: 240px) and (max-width: 719px) {
  div {
    background-color: $reg;
    margin: 0% 10%;
    padding: 1% 1% 3% 1%;
    border-radius: 1rem;
    &:hover {
      background-color: $bl;
    }
    a {
      color: $wh;
      font-weight: bold;
      font-size: 1rem;
    }
  }

  aside {
    grid-area: asid;
    display: flex;
    flex-direction: row;
    background-color: $wh/2;
    padding: 0rem;
  }

  .indexgr {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto 12% 40% 40% auto;
    grid-template-areas:
      "head"
      "asid"
      "main"
      "sect"
      "foot";
    /***************************************************/
    .gr2 {
      background-color: $wh;
      display: grid;
      &--2 {
        grid-template-columns: 1fr 1fr 1fr;
        padding: 1px;
        color: $bl;
        margin: 2px;
      }
    }
  }
  /***************************************************/
  .prodgr {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 1fr 100fr 1fr;
    grid-template-areas:
      "head"
      "sect"
      "foot";
    .gr2 {
      background-color: $wh;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      padding: 1px;
    }
  }
}
