body {
  background-color: black;
  margin: 0;
  height: 90vh;
}
@media screen and (min-width: 10px) and (max-width: 760px) {
  body {
    background-color: black;

    .container {
      width: 100%;
      margin: 0 auto;
    }
    header {
      background-color: cyan;
    }
    .sect {
      margin: 6px 6px 6px 6px;
      padding: 0.5em;
      font-size: 2.5rem;
      font-family: Arial, Helvetica, sans-serif;
      font-weight: bold;
      background-color: black;
      color: white;
      border: darkcyan 6px solid;
      border-radius: 50px 0px 50px 0px;
    }

    button {
      margin: 0.5rem;
      float: left;
      font-size: 4em;
      font-style: italic;
      font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
      padding: 0.5rem;
      background-color: cyan;
      border-radius: 2rem;
    }

    nav {
      float: right;
      ul {
        margin: 0;
        padding: 0;
        list-style: none;
        display: inline-flex;
        flex-wrap: wrap;
      }
      li {
        button {
          margin: 1px;
          float: left;
          font-size: 0.8rem;
          font-style: italic;
          font-family: "Franklin Gothic Medium", "Arial Narrow", Arial,
            sans-serif;
          padding: 0.5rem;
          background-color: cyan;
          border-radius: 2rem;
        }
      }
      a {
        color: black;
        text-decoration: none;
        &:hover {
          color: darkcyan;
        }
      }
    }
  }
}
a {
  color: white;
  text-decoration: none;
}
/**********CSS PARA BARRA DE NAVEGACIÓN*********************/
.container {
  width: 100%;
  margin: 0 auto;
}
header {
  background-color: cyan;
}
header::after {
  content: "";
  display: table;
  clear: both;
}
button {
  margin: 0.5rem;
  float: left;
  font-size: 4em;
  font-style: italic;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  padding: 0.5rem;
  background-color: cyan;
  border-radius: 2rem;
}

nav {
  float: right;
  ul {
    margin: 1;
    padding: 0;
    list-style: none;
  }
  li {
    display: inline-block;
    button {
      margin: 2rem 0.5rem 1.5rem 0.5rem;
      float: left;
      font-size: 1.5rem;
      font-style: italic;
      font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
      padding: 0.5rem;
      background-color: cyan;
      border-radius: 2rem;
    }
  }
  a {
    color: black;
    text-decoration: none;
    &:hover {
      color: darkcyan;
    }
  }
}
/********************CSS CATÁLOGO*****************/
.flex {
  margin-left: 3%;
  margin-right: 3%;
  margin-top: 3%;
  margin-bottom: 3%;
  display: flexbox;
  justify-content: space-around;
}
.card {
  border: darkcyan 5px solid;
  position: relative;
  display: inline-flex;
  width: 200px;
  height: 330px;
  background-color: darkcyan;
  border-radius: 1rem;
  margin: 4px;
  overflow: hidden;
  &::before {
    content: "";
    position: absolute;
    top: -50%;
    width: 100%;
    height: 100%;
    background-color: black;
    transform: skewY(345deg);
    transition: 0.5s;
  }
  &:hover::before {
    top: -60%;
    transform: skewY(390deg);
  }
  &::after {
    content: "";
    position: relative;
    top: 85%;
    right: 80%;
    bottom: 0;
    left: 5%;
    font-weight: bold;
    font-size: 2em;
    color: black;
  }
  .imgbox {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 0;
    z-index: 1;
    img {
      max-width: 100%;
      transition: 0.5s;
    }
  }
  &:hover {
    .imgbox {
      img {
        max-width: 70%;
      }
    }
  }
  .contentbox {
    position: relative;
    top: 100px;
    margin: 0;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 1;
    h3 {
      font-family: Arial, Helvetica, sans-serif;
      font-size: 25px;
      color: white;
      font-weight: bold;
      text-transform: uppercase;
      letter-spacing: 1px;
      margin: 0;
    }
    .price {
      font-family: Arial, Helvetica, sans-serif;
      font-size: 35px;
      color: black;
      font-weight: bold;
      margin: 0;
    }
    .comprar {
      color: white;
      text-decoration: none;
      font-weight: bold;
      border: white 2px solid;
      border-radius: 2rem;
      padding: 4px;
      margin: 10px;
      font-size: 1em;
      &:hover {
        color: darkcyan;
        font-size: 1.5em;
        transition: 0.5s;
      }
    }
  }
}

.cont {
  display: flex;
  flex-direction: column;
  border: cyan solid;
  border-radius: 0px 30px;
  margin: 0.5rem 0.5rem 0rem 0.5rem;
  position: relative;
  display: inline-flex;
  width: 80%;
  background-color: black;
  overflow: hidden;
  min-height: 50px;
  color: cyan;
  font-size: 1.5rem;
  padding: 5px;
  input,
  textarea,
  select {
    background-color: lightblue;
    color: black;
    font-size: 1rem;
    font-weight: bold;
    z-index: 1;
    margin: 0.25em;
    border-radius: 10px;
  }
}

.abt {
  border-radius: 30px 5px;
  background-color: cyan;
  width: 35%;
  height: 10em;
  margin: 0.2em 0;
  /*******************CLASE APARTE PARA EL INDEX***************************/
  &__ind {
    border-radius: 30px 5px;
    width: 50%;
    height: 10em;
    margin: 0.2em 0;
    background-color: darkcyan;
    p {
      padding: 3rem 0.3rem;
      color: white;
      font-size: 2rem;
      font-family: Arial, Helvetica, sans-serif;
      font-weight: bold;
    }
    &:hover {
      width: 100%;
      transition: 2s;
    }
  }
  /***********************************************************************************/
  p {
    padding: 3rem 0.3rem;
    color: black;
    font-size: 2rem;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  }
  &:hover {
    p {
      color: black;
    }
    width: 100%;
    transition: 2s;
  }
}
.text {
  background-color: transparent;
  border: cyan solid 0.5px;
  border-radius: 30px 80px;
  padding: 30px;
  width: 400px;
  margin: 3%;
  font-size: 2rem;
  color: cyan;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  &:hover {
    background-color: cyan;
    color: black;
    transition: 2s;
    div a {
      color: black;
      transition: 2s;
    }
  }
  div a {
    color: cyan;
    text-decoration: none;
  }
}
.text2 {
  color: black;
  float: right;
  font-size: 20px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  margin: 10px;
  max-width: 220px;
}
.sect {
  margin: 6px 6px 6px 6px;
  padding: 0.5em;
  font-size: 2.5rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  background-color: black;
  color: white;
  border: darkcyan 6px solid;
  border-radius: 50px 0px 50px 0px;
  width: 16em;
}
